In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from pylab import * 
import seaborn as sns

df = pd.read_excel('datasets/BaseDeDatosVisualizacion.xlsx',
                  sheet_name='Drinking_Water_Quality_Distribu',
                  engine='openpyxl')
df.head(2)

,Sample Number,Sample Date,Sample Time,Sample Site,Sample class,Residual Free Chlorine (mg/L),Turbidity (NTU),Fluoride (mg/L),Coliform (Quanti-Tray) (MPN /100mL),E.coli(Quanti-Tray) (MPN/100mL)
0,201500023,2015-01-01,12:19:00,1S07,Operational,0.58,0.96,0.79,<1,<1
1,201500024,2015-01-01,11:15:00,1S04,Operational,0.71,0.94,0.8,<1,<1

In [2]:
df.columns

Index(['Sample Number', 'Sample Date', 'Sample Time', 'Sample Site',
       'Sample class', 'Residual Free Chlorine (mg/L)', 'Turbidity (NTU)',
       'Fluoride (mg/L)', 'Coliform (Quanti-Tray) (MPN /100mL)',
       'E.coli(Quanti-Tray) (MPN/100mL)'],
      dtype='object')

In [3]:
df.drop(['Fluoride (mg/L)'],
       axis=1,
       inplace = True)
df.head(2)

,Sample Number,Sample Date,Sample Time,Sample Site,Sample class,Residual Free Chlorine (mg/L),Turbidity (NTU),Coliform (Quanti-Tray) (MPN /100mL),E.coli(Quanti-Tray) (MPN/100mL)
0,201500023,2015-01-01,12:19:00,1S07,Operational,0.58,0.96,<1,<1
1,201500024,2015-01-01,11:15:00,1S04,Operational,0.71,0.94,<1,<1

In [4]:
df.rename(columns = {'Residual Free Chlorine (mg/L)':'Residual Free Chlorine',
                     'Coliform (Quanti-Tray) (MPN /100mL)':'Coliform (MPN /100mL)',
                     'E.coli(Quanti-Tray) (MPN/100mL)':'E.coli(MPN/100mL)'}
         , inplace = True)
df.head(2)

,Sample Number,Sample Date,Sample Time,Sample Site,Sample class,Residual Free Chlorine,Turbidity (NTU),Coliform (MPN /100mL),E.coli(MPN/100mL)
0,201500023,2015-01-01,12:19:00,1S07,Operational,0.58,0.96,<1,<1
1,201500024,2015-01-01,11:15:00,1S04,Operational,0.71,0.94,<1,<1

In [10]:
my_pivot=pd.pivot_table(df,
              index=['Sample class','Sample Site'],
             )
my_pivot

                                  Residual Free Chlorine  Sample Number
Sample class         Sample Site
Compliance           10150                      0.629383   2.018058e+08
                     10250                      0.686158   2.018079e+08
                     10550                      0.498506   2.018012e+08
                     10750                      0.854239   2.018060e+08
                     10850                      0.438642   2.017941e+08
...                                                  ...            ...
Resample_Operational 52000                      0.750000   2.018005e+08
                     58600                      0.320000   2.020217e+08
                     1S03B                      0.736667   2.020263e+08
                     1S07                       0.730000   2.020145e+08
                     1SCH3                      0.646667   2.019546e+08

[477 rows x 2 columns]