In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from pylab import * 
import seaborn as sns

df = pd.read_excel('datasets/BaseDeDatosVisualizacion.xlsx',
                  sheet_name='Drinking_Water_Quality_Distribu',
                  engine='openpyxl')
df.head(2)

,Sample Number,Sample Date,Sample Time,Sample Site,Sample class,Residual Free Chlorine (mg/L),Turbidity (NTU),Fluoride (mg/L),Coliform (Quanti-Tray) (MPN /100mL),E.coli(Quanti-Tray) (MPN/100mL)
0,201500023,2015-01-01,12:19:00,1S07,Operational,0.58,0.96,0.79,<1,<1
1,201500024,2015-01-01,11:15:00,1S04,Operational,0.71,0.94,0.8,<1,<1

In [2]:
df.columns

Index(['Sample Number', 'Sample Date', 'Sample Time', 'Sample Site',
       'Sample class', 'Residual Free Chlorine (mg/L)', 'Turbidity (NTU)',
       'Fluoride (mg/L)', 'Coliform (Quanti-Tray) (MPN /100mL)',
       'E.coli(Quanti-Tray) (MPN/100mL)'],
      dtype='object')

In [3]:
df.drop(['Fluoride (mg/L)'],
       axis=1,
       inplace = True)
df.head(2)

,Sample Number,Sample Date,Sample Time,Sample Site,Sample class,Residual Free Chlorine (mg/L),Turbidity (NTU),Coliform (Quanti-Tray) (MPN /100mL),E.coli(Quanti-Tray) (MPN/100mL)
0,201500023,2015-01-01,12:19:00,1S07,Operational,0.58,0.96,<1,<1
1,201500024,2015-01-01,11:15:00,1S04,Operational,0.71,0.94,<1,<1

In [4]:
df.rename(columns = {'Residual Free Chlorine (mg/L)':'Residual Free Chlorine',
                     'Coliform (Quanti-Tray) (MPN /100mL)':'Coliform (MPN /100mL)',
                     'E.coli(Quanti-Tray) (MPN/100mL)':'E.coli(MPN/100mL)'}
         , inplace = True)
df.head(2)

,Sample Number,Sample Date,Sample Time,Sample Site,Sample class,Residual Free Chlorine,Turbidity (NTU),Coliform (MPN /100mL),E.coli(MPN/100mL)
0,201500023,2015-01-01,12:19:00,1S07,Operational,0.58,0.96,<1,<1
1,201500024,2015-01-01,11:15:00,1S04,Operational,0.71,0.94,<1,<1

In [7]:
my_pivot=pd.pivot_table(df,
              index=['Sample class','Sample Site'],
                        values='Residual Free Chlorine'
             )
my_pivot

                                  Residual Free Chlorine
Sample class         Sample Site
Compliance           10150                      0.630000
                     10250                      0.686158
                     10550                      0.498506
                     10750                      0.854239
                     10850                      0.438642
...                                                  ...
Resample_Operational 52000                      0.750000
                     58600                      0.320000
                     1S03B                      0.736667
                     1S07                       0.730000
                     1SCH3                      0.646667

[477 rows x 1 columns]

In [8]:
pd.pivot_table(df,
              index='Sample class',
              values = 'Residual Free Chlorine',
              aggfunc = 'sum')

                      Residual Free Chlorine
Sample class
Compliance                          13071.41
Operational                         10408.64
Resample_Compliance                   128.69
Resample_Operational                   10.04

In [9]:
pd.pivot_table(df,
              index='Sample Site',
              values = 'Residual Free Chlorine',
              aggfunc = 'sum')

             Residual Free Chlorine
Sample Site
10150                         52.39
10250                        124.76
10550                         43.37
10750                         78.59
10850                         35.53
...                             ...
1SCL1                        677.91
3ISL3                          8.06
3ISL4                          2.88
3SC26                        568.81
4ISL5                         12.48

[398 rows x 1 columns]